body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.inputt {
  background-color: #123e59;
  height: 210px;
}
.inputt input {
  border: none;
  border-radius: 50px;
  margin-top: 60px;
  height: 25px;
  width: 400px;
  margin-right: 100px;
}
.inputt button {
  border: none;
  border-radius: 18px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 20px;
  margin-top: 10px;
  width: 100px;
  margin-right: 100px;
  background-color: #d0a67d;
  opacity: 60%;
  color: #123e59;
}
.inputt button:hover {
  opacity: 100%;
  transform: scale(1.5);
  transition: 1s;
}
.row {
  display: flex;
}
.row button {
  margin-left: 150px;
}
.row p {
  margin-left: 50px;
  width: 250px;
}
.row {
  margin-top: 50px;
}
.row p {
  color: #1b2c58;
}
.row button {
  border: none;
  border-radius: 20px;
  width: 150px;
  background-color: #d3a77f;
  opacity: 70%;
}
.row button:hover {
  opacity: 100%;
  transform: scale(1.5);
  transition: 1s;
}
